<a href="https://colab.research.google.com/github/RONINxavier/exercise.github.io/blob/main/Tugas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Array kelas pertama

In [1]:
import numpy as np
np.random.randint(60, 101, 20)

array([ 97,  76,  66,  75,  85,  62,  89,  66,  65,  94,  63,  98,  89,
        86, 100,  66,  90,  96,  83,  96])

Array kelas kedua

In [1]:
import numpy as np
np.random.randint(60, 101, 20)

array([ 62,  78,  78,  68,  88,  99,  60,  92,  66,  90,  92,  75,  65,
        78,  64, 100,  91, 100,  82,  87])

Mean, Median, Modus kelas pertama

In [2]:
x = [97,  76,  66,  75,  85,  62,  89,  66,  65,  94,  63,  98,  89, 86, 100,  66,  90,  96,  83,  96]
y = y = np.array(x)

print("Mean is : ",y.mean())
print("Median is : ",np.median(y))

from statistics import mode
print("Mode is:",mode([97,  76,  66,  75,  85,  62,  89,  66,  65,  94,  63,  98,  89, 86, 100,  66,  90,  96,  83,  96]))

Mean is :  82.1
Median is :  85.5
Mode is: 66

Mean, Median, Modus kelas kedua

In [3]:
x = [62,  78,  78,  68,  88,  99,  60,  92,  66,  90,  92,  75,  65, 78,  64, 100,  91, 100,  82,  87]
y = y = np.array(x)

print("Mean is : ",y.mean())
print("Median is : ",np.median(y))

from statistics import mode
print("Mode is:",mode([62,  78,  78,  68,  88,  99,  60,  92,  66,  90,  92,  75,  65, 78,  64, 100,  91, 100,  82,  87]))

Mean is :  80.75
Median is :  80.0
Mode is: 78

In [ ]:
Hypothesis testing

In [6]:
import numpy as np
from scipy import stats

# Sample data for two groups
kelas1 = np.array([97,  76,  66,  75,  85,  62,  89,  66,  65,  94,  63,  98,  89, 86, 100,  66,  90,  96,  83,  96])
kelas2 = np.array([62,  78,  78,  68,  88,  99,  60,  92,  66,  90,  92,  75,  65, 78,  64, 100,  91, 100,  82,  87])

# Define the null hypothesis and alternative hypothesis
# Null hypothesis: the means of the two groups are equal
# Alternative hypothesis: the means of the two groups are not equal
null_hypothesis = "nilai rata-rata ujian kedua kelas UNHAN sama."
alternative_hypothesis = "nilai rata-rata ujian kedua kelas UNHAN tidak sama."

# Set the significance level (alpha value)
alpha = 0.05

# Perform the z-test
z_stat, p_value = stats.ttest_ind(kelas1, kelas2)

# Check if the p-value is less than the significance level
if p_value < alpha:
    conclusion = "Tolak H0."
else:
    conclusion = "Terima H0."

# Print the results
print("H0 : ", null_hypothesis)
print("H1 : ", alternative_hypothesis)
print("α : ", alpha)
print("Z-statistic:", z_stat)
print("P-value:", p_value)
print("Kesimpulan : ", conclusion)

H0 :  nilai rata-rata ujian kedua kelas UNHAN sama.
H1 :  nilai rata-rata ujian kedua kelas UNHAN tidak sama.
α :  0.05
Z-statistic: 0.31937805471594527
P-value: 0.7511890594486429
Kesimpulan :  Terima H0.